/* Basic styles */

/** { border: 1px dotted red; }*/

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
nav.top-nav {
  line-height: 80px;
  height: 80px;
  margin-bottom: 40px;
  background: #333333;
}
nav.top-nav .logoImg {
  display: inline-block;
  float: left;
  margin-right: 16px;
}
nav.top-nav .projectName {
  display: inline-block;
  float: left;
  line-height: 80px;
  height: 80px;
  font-size: 2.0em;
  color: #CCCCCC;
}
.col-wrapper {
  margin-bottom: 40px;
}
.tiles {
  padding-bottom: 150px;
}
.buttons {
  padding-bottom: 20px;
}
.color {
  display: block;
  float: left;
  width: 20%;
  height: 120px;
  color: white;
  text-align: center;
  border: 3px solid white;
}
.texture {
  display: block;
  float: left;
  width: 33.33%;
  height: 120px;
  color: white;
  text-align: center;
  border: 3px solid white;
}
.adjective {
  font-size: 2.0em;
}
footer {
  padding-top: 10px;
  padding-bottom: 40px;
}
button {
  margin-right: 5%;
}
