<!DOCTYPE html>
<html
  lang="en"
  ng-app="app"
  ng-controller="AppController as app" >

<head>
  <meta charset="UTF-8">
  <title>My style tile</title>

  <!-- Load Google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <!-- Load Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha256-xWeRKjzyg6bep9D1AsHzUPEWHbWMzlRc84Z0aG+tyms= sha512-mGIRU0bcPaVjr7BceESkC37zD6sEccxE+RJyQABbbKNe83Y68+PyPM5nrE1zvbQZkSHDCJEtnAcodbhlq2/EkQ==" crossorigin="anonymous">
  <!-- Custom styles -->
  <link rel="stylesheet" href="app.css">
  <!-- Load AngularJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js"></script>

  <!--=====================================================-->

  <!-- Configure style tiles -->
  <script>
  (function() {
    angular.module( "app", [] );
    angular.module( "app" ).controller( "AppController", function() {

      // Project name
      this.projectName = "Monkeys"


      // Logo
      this.logoUrl = "";

      // A list of colors (e.g., #333, red)
      this.colors = [
        "#dfbf9f",
        "#756657",
        "#663f1a",
        "#339933",
        "#206020",
      ];

      // A list of image source URLs or filepaths
      this.textures = [
        "img/family.jpg",
        "img/Atelidae.jpg",
        "img/Hylobatidae.jpg",
      ];

      // A list of styles for buttons
      this.buttons = [
        // {
        //   name: "default",
        //   css: {
        //     'color'        : "#ddd",
        //     'background'   : "#999",
        //     'border-radius': "10px",
        //     'width'        : "80px",
        //     'height'       : "30px"
        //   }
        // },
        // {
        //   name: "default",
        //   css: {
        //     'color'        : "#ddd",
        //     'background'   : "#999",
        //     'border-radius': "10px",
        //     'width'        : "80px",
        //     'height'       : "30px"
        //   }
        // },
        // {
        //   name: "default",
        //   css: {
        //     'color'        : "#ddd",
        //     'background'   : "#999",
        //     'border-radius': "10px",
        //     'width'        : "80px",
        //     'height'       : "30px"
        //   }
        // },
      ];

      this.h1 = {
        fontFamily: "Open Sans",
        color     : "#676767"
      };
      this.h2 = {
        fontFamily: "Open Sans",
        color     : "#676767"
      };
      this.h3 = {
        fontFamily: "Open Sans",
        color     : "#676767"
      };
      this.h4 = {
        fontFamily: "Open Sans",
        color     : "#676767"
      };
      this.p = {
        fontFamily: "Open Sans",
        color     : "#676767"
      };
      this.a = {
        fontFamily: "Open Sans",
        color     : "#676767"
      };
      this.adjectives = [
        {
          name: "Happy",
          css: {
            color: "salmon",
            "font-weight": 300
          }
        },
        {
          name: "Exciting",
          css: {
            color        : "red",
            "font-weight": 300
          }
        },
      ];
    }); // end AppController
  })(); // end module
  </script>

  <!--=====================================================-->
</head>

<body>

  <div class="container">

    <!-- Navbar -->
    <nav class="top-nav">
      <div class="container">
        <img class="logoImg" ng-src="{{ app.logoUrl }}" />
        <div class="projectName">{{ app.projectName }}</div>
      </div>
    </nav>

    <div class="row">
      <!-- LHS -->
      <section>
        <div class="col-md-6 col-wrapper">
          <div class="tiles">
            <div
              class="color"
              ng-repeat="color in app.colors"
              ng-style="{ background: color }">
              {{ color }}
            </div>
          </div>
          <div class="tiles">
            <img
              class="texture"
              ng-repeat="texture in app.textures"
              ng-src="{{ texture }}" />
          </div>
          <div class="buttons">
            <button
              class="button"
              ng-repeat="button in app.buttons"
              ng-style="button.css">{{ button.name }}
            </button>
          </div>

          <hr>

          <div class="adjectives">
            <span
              class="adjective"
              ng-repeat="adjective in app.adjectives"
              ng-style="adjective.css"> {{ adjective.name }}
            </span>
          </div>

          <hr>

        </div>
      </section>
      <!-- RHS -->
      <section>
        <div class="col-md-6 col-wrapper">
          <h1 ng-style="app.h1">This is a H1 heading</h1><small>Name: {{ app.h1.fontFamily }} Hexcode: {{ app.h1.color }}</small><hr>
          <h2 ng-style="app.h2">A sub-heading</h2><small>Name: {{ app.h2.fontFamily }} Hexcode: {{ app.h2.color }}</small><hr>

          <p ng-style="app.p">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
            magni, commodi eius aspernatur, pariatur nemo eum minus dolores fuga
            officiis facilis eveniet laudantium et non aliquam! Dolor cupiditate,
            dolore blanditiis!
          </p>
          <small>Name: {{ app.p.fontFamily }} Hexcode: {{ app.p.color }}</small>

          <hr>

          <a href="#">A hypertext link</a>
          <br>
          <small>Name: {{ app.a.fontFamily }} Hexcode: {{ app.a.color }}</small>

          <hr>

        </div>
      </section>

    </div>

    <hr class="m-y-2">

    <footer>
      <small class="text-muted">
        Designed by
        <a href="https://github.com/mnishiguchi">Masatoshi Nishiguchi</a>
      </small>
    </footer>
  </div><!-- /.container -->
</body>
</html>
